<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <%- include('partials/include-css.ejs') %>
</head>

<body>
  <%- include('partials/header.ejs') %>

  <div id="content-wrapper" class="mui--text-center" style="padding-top: 5em;">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
      <div class="mui-row">
        <div class="mui-col-md-1">&nbsp;</div>

        <div class="mui-col-md-10">
          <table class="mui-table mui-table--bordered row wow zoomInDown">
            <thead>
              <tr>
                <th>No</th>
                <th>Region Name</th>
                <th>Mining Name</th>
                <th>Mining Type</th>
                <th>Mining Amount</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <!-- List items here -->
              <% dataCombo.forEach((elem, index) => { %>
                <% elem.Minings.forEach((elem2, index2) => { %>
                <tr>
                  <td><%= index * elem.Minings.length + index2 + 1  %></td>
                  <td><%= elem.name %></td>
                  <td><%= elem2.name %></td>
                  <td><%= elem2.type %></td>
                  <!-- Ganti kode ini untuk menggunakan helper class -->
                  <td><%= helperClass.tambahDuaAngkaDiBelakangDecimal(elem2.amount) %></td>
                  <td>
                    <a href="/minings/edit/<%= elem2.id %>">Edit</a>
                    |
                    <!-- Ubah untuk konfirmasi di sini -->
                    <a href="/minings/del/<%= elem2.id %>" onclick="return confirm('apakah data ini akan dihapus?')">Delete</a>
                  </td>
                </tr>
                <% }) %>
              <% }) %>
            </tbody>
          </table>
        </div>

        <div class="mui-col-md-1">&nbsp;</div>
      </div>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/include-js.ejs') %>
</body>

</html>